#volley table {
    min-width: 400px;
}
#volley table td {
    padding-bottom: 13px;
}

#sett {
    font-size: 40px;
    margin-top: 8%;
}
#sett div {
    position: relative;
    float: left;
}
.sett {
    width: 33.33%;
}
.settHeader {
    clear: both;
    width: 100%;
    text-align: center;
}
.settInner {
    clear: both;
    width: 100%;
    font-weight: 700;
}
.settH {
    text-align: right;
}
.settB {
    text-align: left;
}
.settK {
    width: 10%;
    text-align: center;
}

.settH, .settB {
    width: 45%;
}